# Environment Variables
.env
.env.*

# Dependencies
node_modules/

# Build Output
dist/
.angular/
out-tsc/

# Playwright
playwright-report/
test-results/
blob-report/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db